* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  background-color: var(--main-color);
}
html {
  line-height: 1.15;
  height: 100%;
}

:root {
  --main-color: #f8f9f9;
  --accent-color: #0e391a;
  --light-color: #f9f5f2;
  --dark-color: #121515;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-color);
}

.header-box {
  display: flex;
  position: relative;
  padding-bottom: 8vh;
}

.header-logo {
  display: flex;
  position: absolute;
  max-width: 35vh;
  padding-top: 0.2rem;
}

.icon-menu {
  margin-right: 3vh;
  margin-top: 7vh;
  width: 5vh;
  height: 5vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--main-color);
  padding: 0.5rem 1.1rem;
  width: 100vw;
  height: 60px;
  z-index: 100;
}

input#menu-hamburguesa {
    padding-left: 3rem;
  height: 30px;
  width: 70px;
  visibility: hidden;
  border-radius: 50%;
  background-color: var(--main-color);
}

input#menu-hamburguesa ~ ul {
  display: flex;
  background-color: var(--main-color);
  color: var(--dark-color);
  position: absolute;
  list-style: none;
  width: 100%;
  left: 0;
  height: calc(100vh - 60px);
  top: 60px;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  display: none;
  z-index: 100;
}

input#menu-hamburguesa:checked ~ ul {
  display: flex;
  height: 150vh;
}

nav > ul > li {
  margin-top: 5vh;
  font-size: 1.4rem;
}
nav > ul > li:nth-child(1) {
  margin-top: 10vh;
}

nav > ul > li > a {
  text-decoration: none;
  transition: border-bottom 0.5s linear;
  padding: 0.5rem 1rem;
  color: var(--dark-color);
  border-bottom: 2px solid transparent;
  margin: bottom 2px;
}

nav > ul > li > a:hover {
  border-bottom: 1px solid var(--accent-color);
}

/*
nav > ul > li {
  display: flex;
  list-style: none;
  display: inline-block;
  padding-top: 1rem;
}
*/

.nav-menu li a {
  display: flex;
  text-decoration: none;
  color: var(--dark-color);
  font-size: 1.25rem;
  padding-right: 3rem;
  padding-top: 2rem;
}

.nav-menu li a img {
  width: 20px;
}

nav > ul > li > a > img{
    width: 80%;
    height: auto;
  }

.chica {
  width: 280px;
  max-width: 280px;
}

.hover1:hover{
    background: url(../images/hover1.jpg);
}

.article {
  padding-bottom: 3rem;
}

.contenedorPares {
display: flex;
flex-wrap: wrap;
position: relative;
flex-direction: column;

margin-left: 7vw;

}

.contenedorPares a{
    display: flex;
    flex-direction: column;
}
.icon-social{
    display: flex;
    position: relative;
    width: 45rem;
    }

.contenedorPares a img{
    display: flex;
    width: 45rem;
}

.icon-social img:last-child{
display: none;
}

.icon-social:hover img:last-child{
    display: block;
}

.icon-social:hover img:first-child{
    display:none
}

.top-img{
    position: absolute;
    opacity: 0;
    transition: all .5s ease;
    width: 45rem;
   
}
.top-img:hover{
    position: absolute;
    opacity: 1;
    width: 45rem;
}

.back-img-container{
  background: url(../images/backone.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 85rem;
  height: 800px;
  transition: 2s;
  animation: change 30s infinite ease-in-out;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  animation-play-state: running;
  object-fit: cover;
}

body{
    position: relative;
    margin:0;
    min-height: 100%;
}
footer {
  background-color: var(--main-color);
  padding: 1.5rem 0;
  display: flex;
  flex-direction: row;
  bottom: 0;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 1.5rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.menus {
  display: flex;
  flex-direction: column;
}

.footer-inner ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 2rem;
}

.footer-inner ul li a {
  text-decoration: none;
  color: var(--dark-color);
}

.socials a img {
  width: 1.1rem;
}
.article-list-inner {
  max-width: 992px;
}

@keyframes change {
  0% {
    background-image: url(../images/backsix.jpg);
  }
  20% {
    background-image: url(../images/backtwo.jpg);

  }
  40% {
    background-image: url(../images/backfive.jpg);
  }
  60% {
    background-image: url(../images/backfour.jpg);
  }
  80% {
    background-image: url(../images/backthree.jpeg);
  }
  100% {
    background-image: url(../images/backone.jpg);
  }
}

.contenedorPares:last-child{
    justify-content: center;
}


/*Especificaciones nosotros*/
.nosotros-container{
    padding-left: 3rem;
    display: flex;
   justify-content: center;
   flex-direction: column;
   width: 80%;
   height: 80%;

}

.nosotros-container div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
  
}

/*Especificaciones contacto*/
.contacto-container{
    padding-left: 3rem;
    padding-top: 30vh;
    display: flex;
   justify-content: center;
   flex-direction: column;
   width: 80%;
   height: 80%;
}

.contacto-container div{
    display: flex;
    justify-items: center;
    color: var(--dark-color);
}

/*Especificaciones preguntas frecuentes*/

.preguntas-container{
    padding-left: 3rem;
    display: flex;
   justify-content: center;
   flex-direction: column;
   width: 80%;
   height: 80%;
}

.preguntas-container div{
    display: flex;
    justify-items: center;
    color: var(--dark-color);
}

@media screen and (min-width: 1000px) {

}

@media screen and (min-width:680px) {
    input#menu-hamburguesa ~ ul {
      position: static;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      height: auto;
      justify-content: flex-end;
    }
  
    nav > ul > li > a {
      text-decoration: none;
      transition: border-bottom 0.5s linear;
      padding: 0.5rem 1rem;
      border-bottom: 2px solid transparent;
      margin: bottom 2px;
    }
  
    nav > ul > li > a > img{
      display: none;
    }
  
    nav > ul > li > a:hover {
      border-bottom: 1px solid var(--accent-color);
    }
    nav > ul > li:nth-child(1) {
      margin-top: 5.5vh;
    }
  }
  
  @media screen and (min-width: 880px) {
      nav > ul > li {
          margin-top: 5vh;
          font-size: 1rem;
        }
  
        nav > ul > li > a > img{
          display: none;
        }
  
    .contenedorPares {
      flex-direction: row;
      justify-content: center;
    }
  
    .chica {
      width: 30rem;
      max-width: 30rem;
      object-fit: cover;
    justify-content: space-between;
    }
  }